# Data Cleaning - full data set

In [8]:
import yaml

import pandas as pd

In [14]:
with open("../config/config.yaml", "r") as file:
    config = yaml.safe_load(file)
config

{'raw_data_paths': {'data_daily': '../data/raw/CBS_2021-2023_Daily_Weather.csv',
  'data_hourly': '../data/raw/CBS_2021-2023_Hourly_Weather.csv',
  'data_full': '../data/raw/CBS_2021-2023_Full.csv'}}

# Load

In [ ]:
data = pd.read_csv(config['raw_data_paths']['full'])

In [12]:
data.head()

,Casual,Date,Member,Total_rides,apparent_temperature_mean (°C),temperature_2m_mean (°C),weathercode (wmo code),windspeed_10m_max (km/h)
0,371,2021-01-01,590,961,-0.9,2.3,63,10.6
1,2874,2021-01-02,2844,5718,4.8,7.6,61,19.1
2,495,2021-01-03,1133,1628,0.9,3.9,63,13.0
3,907,2021-01-04,2074,2981,1.0,4.1,3,13.3
4,1057,2021-01-05,2004,3061,1.4,4.0,51,9.2

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             1000 non-null   object
 1   rideable_type       1000 non-null   object
 2   started_at          1000 non-null   object
 3   ended_at            1000 non-null   object
 4   start_station_name  871 non-null    object
 5   start_station_id    871 non-null    float64
 6   end_station_name    844 non-null    object
 7   end_station_id      844 non-null    float64
 8   start_lat           1000 non-null   float64
 9   start_lng           1000 non-null   float64
 10  end_lat             998 non-null    float64
 11  end_lng             998 non-null    float64
 12  member_casual       1000 non-null   object
dtypes: float64(6), object(7)
memory usage: 101.7+ KB

# Cleaning

- separate redundant information and create separate tables
  - station table: station_id, lat, lng (lat, log as mean values)
  - member table: 
- transform data 
  - rideable_type -> 0,1,2,... OR classic: True, False
  - member_casual -> 0,1,2,...
- reduce data type to reasonable precision

In [ ]:
# TODO check number of values in each column
# TODO calculate resolution by using timedelta and set accordingly
# TODO consider int32 and float32

# Processing

## Analyse and check station data

In [ ]:
# if start and end station are not missing, then lat, lng should represent the location of the station
#   remove outliers
#   calc mean position
#   check values

## Create Graph Data

# Export to parquet

In [ ]:
# rides.to_parquet('../data/processed/rides.parquet')
# stations.to_parquet('../data/processed/stations.parquet')
# members.to_parquet('../data/processed/members.parquet')