# Data Cleaning - full data set

In [1]:
%run setup.ipynb

# Load

In [2]:
data = pd.read_csv(config['raw_data_paths']['full'])

C:\Users\olive\AppData\Local\Temp\ipykernel_37236\3588239970.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(config['raw_data_paths']['full'])

In [3]:
data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,5CB9DFCECF79AF84,classic_bike,2021-01-01 00:08:33,2021-01-01 00:33:53,Maine Ave & 9th St SW,31646.0,Rosslyn Metro / Wilson Blvd & Ft Myer Dr,31015.0,38.880440,-77.025236,38.894600,-77.072305,member
1,629E059504606547,electric_bike,2021-01-01 00:13:43,2021-01-01 00:29:34,10th & U St NW,31111.0,NaN,NaN,38.917193,-77.025894,38.960000,-77.020000,casual
2,E74069873161EE33,electric_bike,2021-01-01 00:14:32,2021-01-01 00:28:45,17th & Corcoran St NW,31214.0,14th & Belmont St NW,31119.0,38.912138,-77.038568,38.920870,-77.031691,member
3,91F95E512CABC46A,classic_bike,2021-01-01 00:15:45,2021-01-01 00:21:20,Wilson Blvd. & N. Vermont St.,31926.0,Wilson Blvd. & N. Vermont St.,31926.0,38.879477,-77.114563,38.879477,-77.114563,member
4,DA46A05139C0EA2F,classic_bike,2021-01-01 00:17:46,2021-01-01 00:21:00,11th & Park Rd NW,31651.0,14th & Newton St NW,31649.0,38.931322,-77.028247,38.931991,-77.032956,member

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10693997 entries, 0 to 10693996
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 1.0+ GB

# Cleaning

- separate redundant information and create separate tables
  - station table: station_id, lat, lng (lat, log as mean values)
  - member table: 
- transform data 
  - rideable_type -> 0,1,2,... OR classic: True, False
  - member_casual -> 0,1,2,...
- reduce data type to reasonable precision

In [5]:
# TODO check number of values in each column
# TODO calculate resolution by using timedelta and set accordingly
# TODO consider int32 and float32

# Processing

## Analyse and check station data

In [6]:
# if start and end station are not missing, then lat, lng should represent the location of the station
#   remove outliers
#   calc mean position
#   check values

## Create Graph Data

# Export

In [7]:
%store data

Stored 'data' (DataFrame)

In [8]:
# rides.to_parquet('../data/processed/rides.parquet')
# stations.to_parquet('../data/processed/stations.parquet')
# members.to_parquet('../data/processed/members.parquet')